.shadow{
    opacity:1;
    background: #641ba8;  
    background-image: -webkit-linear-gradient(top, #641ba8, #3a0968);
    background-image: -moz-linear-gradient(top, #641ba8, #3a0968);
    background-image: -ms-linear-gradient(top, #641ba8, #3a0968);
    background-image: -o-linear-gradient(top, #641ba8, #3a0968);
    background-image: linear-gradient(to bottom, #641ba8, #3a0968);
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
}

.title{
    color: white;
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 40px;
    font-weight: bolder;
}