.row_container{
    transform: translateY(-105px);
    margin-left: 10px;
    margin-bottom: 20px;
    min-height: 200px;
}

.row{
    position: relative;
    color:white;
    width: 100%;
    z-index: 3;
    overflow: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.row::-webkit-scrollbar {
    display: none;
}

.row_wrapper{
    position: relative;
    display: flex;
    align-items: center;
}

.row_title{
    color:white;
    margin-bottom: 10px;
}

.row:hover{
    z-index: 0;
}

.row_posters{
    display: flex;
    padding-left: 20px;
    z-index: inherit;
    scrollbar-width: none;
    -ms-overflow-style: none;
    grid-gap: -100px;
    gap: -100px;
    width: -moz-fit-content;
    width: fit-content;
    position: relative;
    padding: 20px 10px;
}


.card_div,
.card_wrapper{
    min-width: 175px;
    max-width: 175px;
}


.card_wrapper{
    display: flex;
    overflow: hidden;
    height: auto;
    margin-right: 18px;
    transition: max-width 0.5s;
    border-radius: 10px;
    box-shadow: -2px -2px 7px rgba(255, 255, 255, 0.308),
                7px  7px 10px rgba(0, 0, 0, 0.733); 
    cursor: default;
}

.show_trailer{
    max-width: 100% !important;
    transition: max-width 2s;
}

.player{
    position: relative;
    padding-left: 10px;
    padding-right: 5px;
    background-color: rgb(15, 15, 15)
}

.card_div{
    height: 100%;
    position: relative;
    transition: 1s;
    border-radius: 10px;
    
}

.card_div:hover .row_poster{
    transform:scale(0.95);
    transition-delay: 0.3s;
}


.row_poster{
    display: block;
    width: 100%;
    height: 100%;
    transition: transform 200ms;
    cursor: pointer;
    background-color: rgb(29, 29, 29);
    padding: 0px;
    z-index: inherit;
    border-radius: 10px;
    transition: transform 0.5s,border-radius 0.5s;
}


.card_div_tilt{
    transition: 1s;
    margin-left: 20px ;
    transform: scale(1.09);
    margin-right: 20px ;
}

/* -------------------------------------------------------------------------- */
/*                                Card Overlay                                */
/* -------------------------------------------------------------------------- */

.card_overlay{
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.795);
    z-index: 98;
    height: 100%;
    opacity: 0;
    transform: scale(1.1);
    border-radius: 10px;
    transition: transform 0.5s, opacity 0.2s;
}

.card_overlay_container{
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card_div:hover .card_overlay,
.card_overlay_show{
    opacity: 1;
    transform: scale(1);
    transition-delay: 0.3s;
}

.show_name{
    text-align: center;
    box-sizing: border-box;
    height: fit-content;
    padding: 0 6%;
    margin-top: 7%;
    font-size: 14px;
    font-weight: bold;
    text-transform: capitalize;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.show_details{
    margin-top: 15%;
    width: 90%;
    font-size: 10px;
    font-weight: bold;
    text-transform: capitalize;
}


.card_description{
    font-size: 10px;
    margin: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical; 
    overflow: hidden;
}


.top_overlay_btn{
    padding: 10px 0;
    margin-top: auto;
    margin-bottom: 5px;
    background-color: rgb(80, 14, 141);
    border-radius: 10px !important;
}

.card_btn{
    border-radius: 7px 7px 10px 10px;
    text-align: center;
    width: 97%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.watch_now_btn{
    background: yellow;
    background-image: linear-gradient(to bottom,rgb(255, 255, 80), rgb(228, 194, 0));
    color: black;
    padding: 5px 0;
    font-weight: bold;
}
.card_btn span{
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 5px;
}

.watch_now_icon{
    font-size: 27px;
}



/* -------------------------------------------------------------------------- */
/*                              Card Overlay End                              */
/* -------------------------------------------------------------------------- */



.slider{
    position: absolute;
    z-index: 2;
    color: transparent;
    background-color: transparent;
    height: 100%;
    font-size: 60px;
    transition: 0.3s;
    color: white;
    background-color: rgba(17, 17, 17, 0.651);
    display: flex;
    align-items: center;
    opacity: 0;
    z-index: 99;
    top: 0;
}

.row_wrapper:hover > .slider{
    opacity: 1;
}

.slider_front{
    right: 0;
}

.slider_back{
    left: 0;
}


.slider:hover{
    background-color: rgba(0, 0, 0,0.8);
    cursor: pointer;
}

.trailer_window{
    color:white;
    overflow: hidden;
    object-fit: contain;
    padding: 2%;
    padding-right: 100px;
    box-sizing: border-box;
    margin-bottom: 100px;
    margin-top: -100px;
}


.info{
    position: absolute;
    margin-left: 700px;
    width: 774px;
}


.neumorphism {
    padding: 3px 0px;
    border: none;
    font-size: 8px;
    box-shadow: -7px -7px 20px 0 rgba(51, 49, 49, 0.4),
        7px 7px 20px 0 rgba(0, 0, 0, 0.2);
    color: rgb(187, 185, 185);
}

.trailer_name{
    padding-top: 10px;
    font-size: 80px;
    font-size: 2.8vw;
    text-align: center;
    font-weight: bolder;
    z-index: 1;
}

.info_table{
    font-size: 15px;
    float: left;
    margin-left: 1px;
    font-weight: bold;
    border-spacing: 10px;
    border-collapse: separate;
}

.trailer_row{
    height: 20px;
}

.rating{
    border-width: 2px;
    width: 40px;
    height: 25px;
}

.rating_1{
    color: #fd2828;
}

.rating_2{
    color: rgb(255, 203, 32);
}

.rating_3{
    color: #42a813
}

.rating_4 {
    color: #42a813
}

.description{
    font-weight: normal;
}

.season{
    font-weight: 1
}

.trailer_btn {
    position: relative;
    margin-left: 50px;
    margin-top: 30px;
    margin-right: 30px;
    background-color: transparent;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #e9e9e9;
    font-family: Arial;
    font-size: 10px;
    padding: 6px 24px;
    text-decoration: none;
    outline: none;
    transform: scale(1.5, 1.5);
    
}

.trailer_btn:hover {
    background-color: black;
}

.trailer_btn:active {
    top: 1px;
}

.close-btn{
    cursor: pointer;
    float: right;
    position: absolute;
    right: 2%;
    height: 20px;
    width: auto;
    z-index: 5;
}

.close-btn:hover{
    cursor: pointer;
}
td{
    vertical-align: initial;
}
@media(max-width : 1450px){
    .card_div,
    .card_wrapper{
        min-width: 200px;
        max-width: 200px;
    }
}

@media(max-width : 1025px){
    
    .show_name{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
        font-size: 10px;
        padding-bottom: 5px;
        min-height: fit-content;
    }

    .card_description{
        font-size: 10px;
        -webkit-line-clamp: 4;
    }

    .player{
        max-width: 400px;
    }
    .show_details{
        margin-top: 5px;
        font-size: 9px;
    }

    .card_div,
    .card_wrapper{
        min-width: 150px;
        max-width: 150px;
    }
    .card_btn span{
        font-size: 12px;
    }
    .top_overlay_btn{
        padding: 7px 0;
    }
    .watch_now_icon{
        font-size: 20px;
    }
}


@media(max-width : 770px){

    .slider{
        display: none;
    }
    .card_description{
        -webkit-line-clamp: 3;
    }

    .card_div,
    .card_wrapper{
        min-width: 135px;
        max-width: 135px;
    }
}
@media(max-width : 425px){
    .card_overlay{
        display: none;
    }
}


@media(max-width : 375px){
    .card_div,
    .card_wrapper{
        min-width: 126px;
        max-width: 126px;
    }
}

