.characters {
    min-height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    min-height: 70vh;
    padding-top: 20px;
}
.loader{
    margin-top: 30px;
}

.character_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.character_guideline{
    width: fit-content;
    max-width: 80%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.character_guideline p{
    color: white;
    background-color: rebeccapurple;
    width: fit-content;
    height: fit-content;
    padding: 15px 60px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
}

.wrap_description {
    overflow: auto;
    height: calc(100% - 32px);
    border-radius: 16px;
    border: 2px solid #ffff;
    overflow: hidden;
    position: relative;
}

.wrap_description:hover .description {
    transform: translateY(-100%);
}

.description {
    padding-top: 20px;
    color: white;
    background: rgba(17, 16, 16, 0.6);
    backdrop-filter: blur(8px);
    padding: 6%;
    text-align: center;
    transition: 1s;
    height: 93%;
    overflow: auto;
    border-radius: 17px;
    font-size: 14px;
}

.description::-webkit-scrollbar-track {
    margin-top: 10px;
    margin-bottom: 17px;
}


.neumorphism {
    padding: 15px 10px;
    border: none;
    box-shadow: -1px -1px 10px #333235, 4px 3px 10px #0d0c0f;
    color: rgb(187, 185, 185);
}

.character_description {
    margin-top: 8%;
}

.character_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: rgb(22, 22, 22);
}

.name {
    text-align: center;
    color: #f0b922;
    font-weight: bold;
    margin-top: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.character_card{
    position: relative;
    width: 213px;
    height: 345px;
    margin: 23px;
    perspective: 1000px;
    background-color: radial-gradient(ellipse, #1e1e1f 10%, #090a0f 100%);
}

.back_rotated{
    transform: rotateY(360deg) !important;
}

.front_rotated{
    transform: rotateY(180deg) !important;
}

.character_back,
.character_front{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: 0.5s;
    transform-style: preserve-3d;
}
.character_back{
    transform: rotateY(180deg);
}
.character_front{
    background-color: transparent;
}

.toggle_all{
    background-color: rgb(80, 14, 141);
    text-align: center;
    color: white;
    font-size: 11px;
    font-weight: bolder;
    text-transform: uppercase;
    border-radius: 10px;
    cursor: pointer;
    padding: 15px 10px;
    margin: 5px;
    border: none;
    letter-spacing: 1px;
    width: auto;
    max-width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width:1000px){
    .character_card{
        width: 207px;
        height: 280px;
    }
}

@media(max-width:750px){
    .character_card{
        width: 190px;
        height: 311px;
    }
}

@media(max-width:630px){
    .character_card{
        width: 141px;
        height: 237px;
        margin: 23px 15px;
    }
}

@media(max-width:340px){
    .character_card{
        width: 120px;
        height: 206px;
    }
}

@media(max-width:300px){
    .character_card{
        padding: 10px;
        width: 60%;
        height: 250px;
    }
}